@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500");
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #464646;
  font-family: 'Roboto';
  font-weight: 300;
}

#login-box {
  font-size: 16px;
  position: relative;
  margin: 8% auto;
  width: 700px;
  height: 400px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px #00000066;
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 45px;
  width: 350px;
  height: 400px;
}

h1 {
  margin: -10px 0 30px 0;
  font-weight: 600;
  font-size: 25px;
}

input[type="text"],
input[type="password"] {
  /* display: block; */
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 260px;
  height: 36px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #0972e7;
  color: #0972e7;
  transition: 0.2s ease;
}

.material-icons.md-24 { 
  font-size: 20px; 
}

.visibility {
  position: absolute;
  top: 215px;
  left: 280px;
  color: #b3b3b3;
  cursor: default;
}

.visibility2 {
  position: absolute;
  top: 270px;
  left: 280px;
  color: #b3b3b3;
  cursor: default;
}

button {
  margin-top: 10px;
  width: 85px;
  height: 40px;
  background: #0972e7;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  /* text-transform: uppercase; */
  transition: 0.1s ease;
  cursor: pointer;
}

button:hover,
button:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

button:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 350px;
  height: 400px;
  background: url("https://i.imgur.com/RFlXCc2.jpeg");
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}